<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="tags" content="Homepage" />
    <meta name="date" content="2016-06-09 22:28" />
    <meta name="modified" content="2016-06-10 20:14" />
    <meta name="category" content="Homepage" />
    <meta name="authors" content="Julius Reade" />
    <meta name="summary" content="Julius Reade Homepage" />
	<title>J U L I U S R E A D E</title>

	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="main_container">
	<div id="main_navigation">
		<h1>J U L I R S E A D E </h1>
		<li>
			<ul>[+ unprofessionalism]{filename}/pages/unprofessionalism.md</ul>
			<ul>[+ professionalism]{filename}/pages/professionalism.md</ul>
			<ul>[+ coding]{filename}/pages/coding.md</ul>
			<ul>[+ media]{filename}/pages/media.md</ul>
			<ul>[+ about]{filename}/pages/about.md</ul>
			<ul>[+ contact]{filename}/pages/contact.md</ul>
		</li>	
	</div>
</div>
</body>
<script type="text/javascript" src="../static/js/test4_1.js"></script>
</html>
