
p {
	line-height: 1.4rem;
	padding-bottom: 1.2rem;
}

a {
	background-color: magenta;
	text-decoration: none;
	color: white;
}

a:hover {
	background-color: white;
}

.grid {
	width: 10rem;
}

.b-clear {
	clear: both;
}

.b {
	background-color: #00FFFF;
	color: white;
}

.o {
	background-color: #FF7F00;
	color: white;
}

.r {
	background-color: red;
	color: white;
}

.p {
	background-color: #FF51A2;
	color: white;
}

.g {
	background-color: #22FF8D;
	color: white;
}

.pur {
	background-color: #8C2CFF;
	color: white;
}

.y {
	background-color: #FFFF00;
	color: white;
}



@media (max-width: 768px) {
  body { 
  	font-size: 70%;
  }
}


/*

#working-career-list {
}

#one {
	float: left;
	margin-right: 8rem;
}

#two {
	float: left;
	margin-right: 8rem;

}

#three {
	float: left;

}



*/
